<div class="phone-book">
  <pre class="requirements">
    <strong>Requirements:</strong>
    - As a user I can input a first name, last name and a phone number. When I click submit, the information is displayed in a list below.
    - The list of contats is sorted by last name
    - Clicking on table headers changes the sorting

    <strong>Extra</strong>
    - Data persists after application is closed and reopened
    - Make it pretty ✨
  </pre>
  <app-form></app-form>
  <app-list></app-list>
</div>
